.todo-inputs{
    background-color:inherit ; 
    height: 100%;
    width: 100%;   
    align-items: center;
    justify-content: center;
    display: flex;
}
.user-input{
     height: 60px;
     width: 50%;
     border-radius: 18px;
     margin-left: 20px;
     

}
.add-task{
    height: 60px;
    width: 5rem;
    border-radius: 18px;
    padding: 10px;
    margin-left: 20px;

}